body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    max-width: 100%;
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
}

.sun-container,
.content-container,
.map-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-left: 100px;
}

.content-container {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.map {
    width: 300px;
    margin-top: 20px;
}

.sun {
    width: 100px;
    height: 100px;
    background-color: #ffdb58;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 30%;
}

.eye--left {
    left: 18%;
}

.eye--right {
    right: 18%;
}

.mouth {
    width: 40px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: rotate(0deg);
    transform-origin: left center;
}

.sun:hover {
    transform: rotate(360deg);
}

.video {
    margin: 20px 0;
    text-align: center;
}


